.contact-container {
  height: 680px;
  background: linear-gradient(0deg, #82a1ff, #82a1ff),
    linear-gradient(0deg, #82a1ff, #82a1ff), #82a1ff;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  border-bottom: 1px solid #ffffff;
}

.contact-title {
  color: #ffffff;
}

.contact-subtitle {
  color: #ffffff;
}

.contact-form-control {
  max-width: 300px;
  min-width: 300px;
}

@media (max-width: 768px) {
  .contact-form-control {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
  }
}

.contact-button {
  max-width: 300px;
  min-width: 300px;
}

@media (max-width: 768px) {
  .contact-button {
    width: 100%;
    max-width: 100%;
  }
}
