.fill-title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  color: #292f77 !important;
}

.fill-subtitle {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
}
