.global-title-container {
  margin: 42px 0;
}

.global-title {
  position: relative;
  min-width: 200px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  z-index: 1;
}

.global-title::after,
.global-title::before {
  content: "";
  position: absolute;
  top: 10px;
  height: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  transform: rotate(120deg);
  z-index: -1;
  opacity: 0.5;
}

.global-title::before {
  left: 35%;
  background: #82a1ff;
  width: 40px;
}

.global-title::after {
  left: 40%;
  width: 60px;
  border: 2px solid #82a1ff;
}

.global-subtitle {
  text-align: center;
  max-width: 500px;
}
